.navbar {
  margin-bottom: 5px;
}

.jumbotron {
  padding: 5px;
  margin-bottom: 5px;
}

.panel-body {
	padding: 5px;
}

.col-xs-4 {
	padding-left: 5px;
	padding-right: 0px;
}

#bean {
	width: 75%;
}

h1 {
  margin-top: 0px;
}

h3 {
  margin-top: 0px;
}
